
:root {
    --dark-cyan:hsl(185, 75%, 39%);
    --dark-desaturated-blue:hsl(229, 23%, 23%);
    --dark-grayish-blue:hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

}

@font-face {
    font-family: 'Kumbh Sans';
    src: url( font/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: var(--dark-cyan);
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    font-family:'Kumbh Sans' ;
    position: relative;
    overflow:hidden ;
}

.img3 {
    position: absolute;
    top: -500px;
    left: -650px;
}

.img4 {
    position: absolute;
    bottom: -600px;
    right: -600px;
}

.container {
    border: 5px;
    height: 350px;
    width: 350px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    

}
.img2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 
.img1 {
    position: absolute;
    top:80px;
    left: 130px;
    border-radius: 60px;
    border: 5px white solid;
}
.col2 {
    width: 400px;
    height: 204px;
    display: grid;

    
}

.col3 {
    text-align:center;
    padding-top: 50px;
    width: 348px;
    color: var(--dark-desaturated-blue);
}

.col4 {
border: 1px #eeeeee solid;
margin-top: 30px;
display: flex;
width: 329px;
height: 79px;
padding: 10px;
border-bottom:10px;
border-left: 10px;
border-right: 10px;
color: var(--dark-desaturated-blue);
}

p{
    text-align: center;
}

p>span{
    font-weight: bold;
}